body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.encriptador {
    flex: 1;
    padding: 2rem;
    border: none;
    border-radius: 0.625rem;
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 2rem;
    width: 20rem; 
    height: 28rem; 
}

.encriptador textarea {
    border: none; 
    outline: none; 
    resize: none; 
    width: 100%;
    height: 15rem; 
    color: #0A3871;
    padding: 0.5rem; 
    box-sizing: border-box; 
    background: #E5E5E5;
    font-size: 1rem; 
}

.encriptador textarea::placeholder {
    color: #0A3871; 
    opacity: 1; 
}

.encriptador p {
    display: flex;
    align-items: center; 
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.3);
    text-align: left;
    margin-top: 8rem;
}

.encriptador .material-symbols-outlined {
    font-size: 1.25rem; 
    margin-right: 0.5rem; 
    color: black;
}


.button-container {
    display: flex;
    gap: 1rem;
    margin-top: 0;
}

button {
    padding: 0.4rem 3rem;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.encrypt-button {
    background-color: #0A3871;
    color: #ffffff;
}

.encrypt-button:hover {
    background-color: #0056b3;
}

.decrypt-button {
    background-color: #ffffff;
    color: #007bff;
    border: 0.1rem solid #007bff;
}

.decrypt-button:hover {
    background-color: #e9ecef;
}

.copy {
    margin-top: auto; 
    padding: 0.4rem 3rem;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #ffffff;
    color: #007bff;
    border: 0.1rem solid #007bff;
    display: none; /* Inicialmente oculto */
}


.copy:hover {
    background-color: #e9ecef;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem; 
    height: 30rem;
    border: 0.1rem solid #ffffff;
    border-radius: 0.625rem;
    background-color: #ffffff;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
    position: relative;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin-top: 3rem;
    border-radius: 0.625rem;
}

#textOutput {
    border: none; 
    outline: none; 
    resize: none; 
    width: 100%;
    height: 15rem; 
    padding: 0.5rem; 
    box-sizing: border-box; 
    background: #ffffff;
    font-size: 1rem;
    text-align: center;   
}



/* Para pantallas de tablet */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        order: 2; 
        display: flex;
        width: 20rem; 
        height: 5rem;
    }

    .image-container img {
        display: none; 
    }
}

/* Para pantallas de celular */
@media (max-width: 480px) {
    .button-container {
        flex-direction: column; 
        align-items: center;
        width: 100%;
    }

    button {
        width: 80%;
    }

    .encriptador {
        margin-right: 0; 
    }
}

@media (max-width: 480px) {
    .copy {
        width:40%; 
        padding: 0.6rem 1.5rem;
        font-size: 0.9rem; 
    }
}

.image-container img {
    width: 100%;
    height: auto;
}


@media (max-width: 768px) {
    .image-container img {
        display: none;
    }
}

@media (max-width: 480px) {
    .image-container img {
        display: none;
    }
}
